​<ion-view view-title="Detalles" hide-back-button="false" >

<div class="list card">

  <div class="item item-avatar">
    <img src="{{lugar.image}}" width="200" height="50">
    <h2> Nombre: {{detalle.title}}</h2>
    <h2>Direccion: {{detalle.direccion}}</h2>
    <h2>Tipo: {{detalle.tipo}}</h2>
  </div>
  </div>


  <div class="item item-body">

<img src="{{lugar.image}}" width="600" height="450">
    <p>Descripcion: {{detalle.description}}
    </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>
</ion-view>​
