<!--<ion-view view-title="Login">
  <ion-content ng-controller="LoginCtrl">
    <div class="padding">
      <button class="button button-block button-assertive icon ion-social-google" ng-click="logiar();">
                Google
        </button>
    </div>
  </ion-content>
</ion-view>
-->
<ion-view id="login">

  <div class="bar bar-header bar-light">
<h1 class="title">Cultural APP</h1>
</div>
<ion-content >
    <button ng-click="logiar();" class="button button-block button-assertive icon ion-social-google"  style="vertical-align:middle;"type="submit" value="Submit">Log in with Google</button>

</ion-content>
</ion-view>
