<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Agregar un lugar</h1>
    <button class="button button-icon icon ion-close" ng-click="closeAddModal() "></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
    </ion-list>
    <button class="button button-block button-positive icon-left ion-android-send">
      Enviar
    </button>
  </ion-content>

</ion-modal-view>
